<!-- full container start  -->
<div class="full_container">

  <!-- cart box start  -->
  <div class="cart-box">
    <div class="top">
      <!-- <mat-icon>shopping_basket</mat-icon> -->
      <span>00 Items</span>
    </div>
    <div class="card-price">
      <span>৳0</span>
    </div>
  </div>
  <!-- cart box end  -->

  <div class="container">
    <!-- sidebar start -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar_box">
        <div class="sidebar_title">
          <h3><i class="fa-solid fa-bars-staggered"></i> Categories</h3>
          <hr />
        </div>
        <div class="sidebar_categories_list">
          <div class="sidebar_single_category">
            <p>
              <span>Office Equipment</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Component</span> <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>TV & Speaker</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Router & Network</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Software</span> <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p><span>Laptop</span> <i class="fa-solid fa-chevron-right"></i></p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>AC & Home Appliance</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Security Surveillance</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>All Categories</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
        </div>

        <p class="reserved_rights">
          All Rights Reserved by <span class="yellow">Digihaat</span>
        </p>
      </div>
    </div>
    <!-- sidebar end -->

    <header class="header">
      <!-- logo  -->
      <div class="logo">
        <div class="hamburger" id="hamburger">
          <i class="fa-solid fa-bars"></i>
        </div>
        <a routerLink="/"><img src="../../../../assets/haatlogo.png" alt="" /></a>
      </div>

      <!-- search input box  -->
      <div class="search_input_box">
        <input type="text" name="" id="" placeholder="Search for Products" />
        <div class="categories">
          <select name="" id="">
            <option value="All categories">All categories</option>
            <option value="All categories">Laptop</option>
            <option value="All categories">Desktop</option>
          </select>
        </div>
        <div class="search_icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <!-- compare login registration add to cart  -->
      <div class="compare_login_registration_cart">
        <div class="compare">
          <i class="fa-solid fa-code-compare"></i>
          <span><sup>00</sup></span>
        </div>
        <div class="login">
          <i class="fa-solid fa-heart"></i>
          <span><sup>00</sup></span>
        </div>
        <div class="registration">
          <i class="fa-solid fa-user"></i>
          <span><sup>00</sup></span>
        </div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <span><sup>00</sup></span>
        </div>
      </div>

      <!-- login-signup start -->
      <div class="login-signup">
        <p class="mobile-number"><a><i class="fa-solid fa-phone"></i> 09613-100000</a></p>
        <p class="location"><a>Location</a></p>
        <p><a routerLink="/signup">Sign In</a></p>
      </div>
      <!-- login-signup end -->


    </header>
  </div>
</div>
<!-- full container end  -->

<!-- responsive container start  -->
<div class="responsive_container">
  <div class="container">
    <!-- sidebar start -->
    <div class="sidebar" id="sidebar2">
      <div class="sidebar_box">
        <div class="sidebar_title">
          <h3><i class="fa-solid fa-bars-staggered"></i> Categories</h3>
          <hr />
        </div>
        <div class="sidebar_categories_list">
          <div class="sidebar_single_category">
            <p>
              <span>Office Equipment</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Component</span> <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>TV & Speaker</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Router & Network</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Software</span> <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p><span>Laptop</span> <i class="fa-solid fa-chevron-right"></i></p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>AC & Home Appliance</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>Security Surveillance</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
          <div class="sidebar_single_category">
            <p>
              <span>All Categories</span>
              <i class="fa-solid fa-chevron-right"></i>
            </p>
            <hr />
          </div>
        </div>

        <p class="reserved_rights">
          All Rights Reserved by <span class="yellow">Digihaat</span>
        </p>
      </div>
    </div>
    <!-- sidebar end -->

    <header class="header">
      <!-- logo  -->
      <div class="logo">
        <div class="hamburger" id="hamburger2">
          <i class="fa-solid fa-bars"></i>
        </div>
        <img src="assets/haatlogo.png" alt="" />
      </div>

      <!-- compare login registration add to cart  -->
      <div class="compare_login_registration_cart">
        <div class="search_icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="registration">
          <i class="fa-solid fa-user"></i>
          <span><sup>00</sup></span>
        </div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <span><sup>00</sup></span>
        </div>
      </div>
    </header>
  </div>
</div>
<!-- responsive container end  -->

<!-- mobile device container start  -->
<div class="mobile_container">
  <div class="container">
    <!-- bottom menu start -->
    <div class="bottom_menu_box">
      <div class="home_bottom_menu">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </div>
      <div class="category_bottom_menu">
        <i class="fa-solid fa-bars"></i>
        <span>Categories</span>
      </div>
      <div class="cart_bottom_menu">
        <i class="fa-solid fa-bars"></i>
        <span>Carts</span>
      </div>
      <div class="wishlist_bottom_menu">
        <span><i class="fa-solid fa-list-check"></i></span>
        <span>Wishlist</span>
      </div>
      <div class="compare_bottom_menu">
        <span><i class="fa-solid fa-code-compare"></i></span>
        <span>Compare</span>
      </div>
    </div>
    <!-- bottom menu end -->

    <header class="header">
      <!-- logo  -->
      <div class="logo">
        <img src="assets/haatlogo.png" alt="" />
      </div>

      <!-- compare login registration add to cart  -->
      <div class="compare_login_registration_cart">
        <div class="search_icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="registration">
          <i class="fa-solid fa-user"></i>
          <span><sup>00</sup></span>
        </div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <span><sup>00</sup></span>
        </div>
      </div>
    </header>
  </div>
</div>
<!-- mobile device container end  -->