<Section class="Deals_week">
    <div class="container">
        <div class="Deals_week_title">
            <h3>Deals of The Week</h3>
        </div>
        <div class="Deals_week_main">
            <div class="Deals_week_card">
                <div class="Deals_week_card_img">
                    <img src="https://api.digihaat.com.bd/api/upload/images/w-2a73.webp" alt="" srcset="">
                    <span>Save
                        <strong>
                            <label for="">10%</label>
                        </strong>
                    </span>
                </div>
                <div class="Deals_week_card_body">
                    <div class="Deals_week_card_body_main">
                        <div class="Deals_week_card_body_main_price">
                            <span>D-Link R15 AX1500 Wi-Fi 6 Eagle PRO AI Dual-Band Smart Router</span>
                            <h3> 4,599 TK 
                                <del>
                                    <span>10 %</span>
                                </del>
                            </h3>
                        </div>
                        <div class="Deals_week_card_body_main_stock">
                            <div class="Deals_week_card_body_main_stock_top">
                                <div>
                                    <h3>
                                        Available
                                        <strong>100</strong>
                                    </h3>
                                </div>
                                <div>
                                    <h3>
                                        Already Sold:
                                        <strong>10</strong>
                                    </h3>
                                </div>
                            </div>
                            <div class="Deals_week_card_body_main_stock_progressbar">
                                <span class="Deals_week_card_body_main_stock_progressbar_complete"></span>
                            </div>
                        </div>
                        <div class="Deals_week_card_body_main_offer">
                            <h4>Hurry Up! Offer ends in:</h4>
                            <div class="time-area">
                                <div class="time-main">
                                    <div class="time">
                                        <div  class="time-box">
                                            <h3 id="hours">0</h3>
                                        </div>
                                        <div class="time-text">
                                            <span>HOURS</span>
                                        </div>
                                    </div>:
                                    <div class="time">
                                        <div class="time-box">
                                            <h3  id="mins">0</h3>
                                        </div>
                                        <div class="time-text">
                                            <span>MINS</span>
                                        </div>
                                    </div>:
                                    <div class="time">
                                        <div class="time-box">
                                            <h3  id="secs" >0</h3>
                                        </div>
                                        <div class="time-text">
                                            <span>SECS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Deals_week_card">
                <div class="Deals_week_card_img">
                    <img src="https://api.digihaat.com.bd/api/upload/images/w-2a73.webp" alt="" srcset="">
                    <span>Save
                        <strong>
                            <label for="">10%</label>
                        </strong>
                    </span>
                </div>
                <div class="Deals_week_card_body">
                    <div class="Deals_week_card_body_main">
                        <div class="Deals_week_card_body_main_price">
                            <span>D-Link R15 AX1500 Wi-Fi 6 Eagle PRO AI Dual-Band Smart Router</span>
                            <h3> 4,599 TK 
                                <del>
                                    <span>10 %</span>
                                </del>
                            </h3>
                        </div>
                        <div class="Deals_week_card_body_main_stock">
                            <div class="Deals_week_card_body_main_stock_top">
                                <div>
                                    <h3>
                                        Available
                                        <strong>100</strong>
                                    </h3>
                                </div>
                                <div>
                                    <h3>
                                        Already Sold:
                                        <strong>10</strong>
                                    </h3>
                                </div>
                            </div>
                            <div class="Deals_week_card_body_main_stock_progressbar">
                                <span class="Deals_week_card_body_main_stock_progressbar_complete"></span>
                            </div>
                        </div>
                        <div class="Deals_week_card_body_main_offer">
                            <h4>Hurry Up! Offer ends in:</h4>
                            <div class="time-area">
                                <div class="time-main">
                                    <div class="time">
                                        <div  class="time-box">
                                            <h3 id="hours1">0</h3>
                                        </div>
                                        <div class="time-text">
                                            <span>HOURS</span>
                                        </div>
                                    </div>:
                                    <div class="time">
                                        <div class="time-box">
                                            <h3  id="mins1">0</h3>
                                        </div>
                                        <div class="time-text">
                                            <span>MINS</span>
                                        </div>
                                    </div>:
                                    <div class="time">
                                        <div class="time-box">
                                            <h3  id="secs1" >0</h3>
                                        </div>
                                        <div class="time-text">
                                            <span>SECS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</Section>

