<div class="featured-top-selling-onSale-products">
    <div class="featured-top-selling-onSale-products-box">
        <!-- featured-products start  -->
        <div class="featured-products">
            <div class="title">
                <h3>Featured Products</h3>
                <br>
                <hr>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/informate-ht-568r-2-500x500-6d11.jpg" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/card_reader.PNG" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/dis-m100g-sw-side-fd82.png" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
        </div>
        <!-- featured-products end  -->

        <!-- top selling products start  -->
        <div class="topSelling-products">
            <div class="title">
                <h3>Top Selling Products</h3>
                <br>
                <hr>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/informate-ht-568r-2-500x500-6d11.jpg" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/card_reader.PNG" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/dis-m100g-sw-side-fd82.png" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
        </div>
        <!-- top selling products end  -->

         <!-- On-sale products start  -->
         <div class="onSale-products">
            <div class="title">
                <h3>On Sale Products</h3>
                <br>
                <hr>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/informate-ht-568r-2-500x500-6d11.jpg" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/card_reader.PNG" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
            <!-- single  -->
            <div class="single-featured-top-selling-onSale-products">
                <div class="image">
                    <img src="../../../../assets/dis-m100g-sw-side-fd82.png" alt="">
                </div>
                <div class="desc">
                    <h5>Informate HT-568R Dual Modular Crimping Tool</h5>
                    <p><i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i></p>
                    <h3>850</h3>
                </div>
            </div>
        </div>
        <!-- On-sale products end  -->

        <!-- img products start  -->
        <div class="image-products">
           <img src="../../../../assets/footer-widget-img-01-94de.jpg" alt="">
        </div>
        <!-- img products end  -->
    </div>
</div>