<div class="hero-services">
    <div class="hero-services-box">
        <!-- single item  -->
        <div class="hero-services-item">
            <div class="icon_desc">
                <i class="fa-solid fa-bicycle"></i>
                <div>
                    <h4>Free Delivery</h4>
                    <p>from $50</p>
                </div>
            </div>
        </div>
        <!-- single item  -->
        <div class="hero-services-item">
            <div class="icon_desc">
                <i class="fa-solid fa-headphones"></i>
                <div>
                    <h4>99% Positive</h4>
                    <p>Feedbacks</p>
                </div>
            </div>
        </div>
        <!-- single item  -->
        <div class="hero-services-item">
            <div class="icon_desc">
                <i class="fa-solid fa-rotate"></i>
                <div>
                    <h4>365 days</h4>
                    <p>for free return</p>
                </div>
            </div>
        </div>
        <!-- single item  -->
        <div class="hero-services-item">
            <div class="icon_desc">
                <i class="fa-solid fa-lock"></i>
                <div>
                    <h4>Payment</h4>
                    <p>Secure System</p>
                </div>
            </div>
        </div>
        <!-- single item  -->
        <div class="hero-services-item">
            <div class="icon_desc">
                <i class="fa-solid fa-copyright"></i>
                <div>
                    <h4>Only Best</h4>
                    <p>Brands</p>
                </div>
            </div>
        </div>
    </div>
</div>
