@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
.wrapper{
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  // border: 2px solid red;

  margin: 7% auto;
}
.wrapper h1{
display: inline-block;
 text-align: center;
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #fcd804;
}
.loginbtn {
    display:line-block;
    top:50%;
    background-color:#fcd804;
    color: #0a0a0a;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:30px;
    min-width: 120px;
  }
.wrapper h2{
    text-align: center;
     position: relative;
     font-size: 13px;
     font-weight: 400;
     color: #000000;
   }


.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #fcd804;
  text-align: center;
}

.input-box.button input{
  color: #000000;
  letter-spacing: 1px;
  border: none;
  background: #fcd804;
  cursor: pointer;
}
