<div class="hero_offers">
    <div class="hero_offers_box">
        <!-- single_hero_offer  -->
        <div class="single_hero_offer">
            <img src="../../../../assets/cameras-resized-b61f.png" alt="">
            <div class="desc">
                <h3>CATCH BIG <br> DEALS ON THE <br> CAMERAS</h3>
                <P>Shop Now <i class="fa-solid fa-chevron-right"></i></P>
            </div>
        </div>
        <!-- single_hero_offer  -->
        <div class="single_hero_offer">
            <img src="../../../../assets/desktop-b167.png" alt="">
            <div class="desc">
                <h3>CATCH BIG <br> DEALS ON THE <br> CAMERAS</h3>
                <P>Shop Now <i class="fa-solid fa-chevron-right"></i></P>
            </div>
        </div>
        <!-- single_hero_offer  -->
        <div class="single_hero_offer">
            <img src="../../../../assets/laptop-9bb6.png" alt="">
            <div class="desc">
                <h3>CATCH BIG <br> DEALS ON THE <br> CAMERAS</h3>
                <P>Shop Now <i class="fa-solid fa-chevron-right"></i></P>
            </div>
        </div>
        <!-- single_hero_offer  -->
        <div class="single_hero_offer">
            <img src="../../../../assets/desktop-b167.png" alt="">
            <div class="desc">
                <h3>CATCH BIG <br> DEALS ON THE <br> CAMERAS</h3>
                <P>Shop Now <i class="fa-solid fa-chevron-right"></i></P>
            </div>
        </div>
    </div>
</div>
